body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "Martel Sans", sans-serif;
  width: 100%;
  /* overflow-x: hidden; */
}

.h1-new {
  color: #316ea3;
  font-size: 5.625rem;
  margin: 30px auto 0 auto;
  font-family: "Indie Flower", cursive;
  text-shadow: 2px 2px 2px #03506f;
}

.h2-new {
  color: #316ea3;
  font-size: 2.75rem;
  font-family: "Indie Flower", cursive;
  font-weight: normal;
  text-shadow: 2px 2px 2px #316ea3;
}

.h3-new {
  font-size: 30px;
  color: #316ea3;
  font-family: "Martel Sans", sans-serif;
  font-weight: bold;
}

.h5-new {
  font-size: 17px;
  color: #008ae6;
}

.h2-blue-txt{
  color: #316ea3;
  font-size: 2.75rem;
  font-family: "Indie Flower", cursive;
  font-weight: normal;
  margin-top: 2%;
  margin-bottom: 2%;
}

a {
  color: #316ea3;
  font-family: "Martel Sans", sans-serif;
  /* margin: 10px 20px; */
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 4%;
  margin-top: 100px;
  margin-bottom: 100px;
}
p {
  line-height: 1.7;
}

.top-container {
  background-color: #deeeff;
  position: relative;
  animation: bluesky 3s;
}

/* .nav-bar {
  text-align: left;
  margin-left: 10px;
  z-index: 20;
}
.nav-bar a {
  margin-right: 10px;
}
.nav-bar a:hover {
  color: black;
  z-index: -1;
} */

.w3-bar{
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #deeeff;
  position: fixed;
  top: 0;
  width: 100%;
  animation: fadein 6s;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

.top-container-content {
  padding-top: 100px;
  height: 100vh;
  position: relative;
}

/*fade in effect for the intro text*/
.top-container .h2-new {
  margin-bottom: 40px;
  margin-top: 20px;
  animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bluesky {
  from {
    background-color: #f5faff;
  }
  to {
    background-color: #deeeff;
  }
}

.middle-container {
  padding-top: 100px;
}

.bottom-container {
  background-color: #deeeff;
  margin-top: 50px;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}
.title-txt {
  color: #316ea3;
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  font-weight: normal;
  margin-top: 2%;
  margin-bottom: 2%;
}

.intro {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  color: #40514e;
  margin: 0 auto 0 auto;
  width: 40%;
}
.bottom-cloud {
  width: 10%;
  position: absolute;
  left: 300px;
  animation: bottomCloud 12s infinite;
}

@keyframes bottomCloud {
  0% {
    left: 300px;
  }
  50% {
    left: 200px;
  }
  100% {
    left: 300px;
  }
}

.top-cloud {
  width: 15%;
  position: absolute;
  right: 150px;
  top: 60px;
  animation: topCloud 7s infinite;
}

@keyframes topCloud {
  0% {
    right: 250px;
  }
  50% {
    right: 150px;
  }
  100% {
    right: 250px;
  }
}

.experience-img-mobile {
  display: none;
}

.skill-row {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  display: grid;
  grid-column-gap: 2em;
  align-items: center;
}
.skill-row-left {
  grid-template-columns: 30% 70%;
  /* grid-template-columns: 100%; */
}
.skill-row > img {
  max-width: 90%;
}

.skill-row-right {
  grid-template-columns: 70% 30%;
}

.skills-img {
  border-radius: 100%;
  width: 90%;
  transition: transform 0.2s;
}
.skills-img:hover {
  transform: scale(1.1);
}

.projects-h3 {
  font-family: "Indie Flower", cursive;
  font-size: 1.25rem;
  width: 60%;
  margin: 10px auto 10px auto;
}

/* .skills-languages {
  width: 60%;
  margin: 100px auto 100px auto;
} */

.contact-me {
  width: 80%;
  margin: 0 auto;
}

.h3-contact-me{
  color: #316ea3;
  font-family: "Martel Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.contact-me-description {
  width: 60%;
  margin: 40px auto 60px auto;
}

.contact-me-info {
  display: inline-block;
}

.footer-link {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
}

.footer-link a{
  color: #316ea3;
}

.footer-link a:hover {
  color: black;
}

.butn {
  background: #316ea3;
  background-image: -webkit-linear-gradient(top, #316ea3, #105ea3);
  background-image: -moz-linear-gradient(top, #316ea3, #105ea3);
  background-image: -ms-linear-gradient(top, #316ea3, #105ea3);
  background-image: -o-linear-gradient(top, #316ea3, #105ea3);
  background-image: linear-gradient(to bottom, #4e7aa0, #105ea3);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Martel Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #74a5cf;
  background-image: -webkit-linear-gradient(top, #74a5cf, #4e7aa0);
  background-image: -moz-linear-gradient(top, #74a5cf, #4e7aa0);
  background-image: -ms-linear-gradient(top, #74a5cf, #4e7aa0);
  background-image: -o-linear-gradient(top, #74a5cf, #4e7aa0);
  background-image: linear-gradient(to bottom, #74a5cf, #4e7aa0);
  text-decoration: none;
}

.copy-right {
  color: #316ea3;
  font-size: 0.75rem;
  padding: 20px 0;
}

.parallax {
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}
.parallax-title .h2-new {
  color: white;
}

.my-experience-img {
  background-image: url("../images/doris-background.jpg");
}
.projects-background {
  background-image: url("../images/doris5.jpg");
}
.skills-background {
  background-image: url("../images/doris1.jpg");
}
.music-background {
  background-image: url("../images/doris2.jpg");
}

.fade-in{
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.fade-in.appear{
  opacity: 1;
}

@media screen and (max-width: 520px) {
  h1 {
    position: absolute;
    margin-top: 10%;
  }
  .top-container-content {
    padding-top: 50px;
  }
  .intro {
    width: 90%;
  }
  .title-txt {
    position: absolute;
    top: 50%;
    width: 90%;
    left: 5%;
  }
  .mountain {
    width: 70%;
    bottom: 10%;
    right: 12%;
    position: absolute;
  }
  .bottom-cloud{
    position: absolute;
    bottom: 25%;
    z-index: 8;
  }
  .skill-row-left {
    grid-template-columns: 100%;
  }
  .skill-row-right {
    grid-template-columns: 100%;
  }
  .skills-img {
    margin-bottom: 10%;
  }

  .experience-img {
    display: none;
  }
  .experience-img-mobile {
    display: inline-block;
    text-align: center;
  }
  .projects-background {
    background-image: url("../images/doris6.jpg");
  }
  .music-background {
    background-image: url("../images/doris7.jpg");
  }
  .contact-me-description{
    width: 90%;
  }
  .fade-in{
    opacity: 1;
  }
}
