body{
	color: #40514E;
	margin: 0px;
	text-align: center;
	font-family: 'Martel Sans', sans-serif;

}

h1{
	color: #316ea3;
	font-size: 5.625rem;
	margin: 30px auto 0 auto;
	font-family: 'Indie Flower', cursive;
}

h2{
	color: #316ea3;
	font-size: 2.5rem;
	font-family: 'Indie Flower', cursive;
	font-weight: normal;

}

h3{
	font-size: 25px;
	color: #316ea3;
	font-family: 'Martel Sans', sans-serif;
	font-weight: bold;
}

h5{
	font-size: 15px;
	color: #008ae6;
}

a{
	color: #316ea3;
	font-family: 'Martel Sans', sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}

a:hover{
	color: #EAF6F6;
}


hr{
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 6px;
	width: 4%;
	margin-top: 100px;
	margin-bottom: 100px;
}
p{
	line-height: 1.7;
}

.top-container{
	background-color: #deeeff;
	position: relative;
	padding-top: 100px;
	-webkit-animation: bluesky 3s;
}

/*fade in effect for the intro text*/
.top-container h2{
	margin-bottom: 40px;
	margin-top: 20px;
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@keyframes bluesky {
    from { background-color: #f5faff;}
    to   { background-color: #deeeff;}
}

@-webkit-keyframes bluesky {
    from { background-color: #f5faff;}
    to   { background-color: #deeeff;}
}


.middle-container{
	padding-top: 100px;

}

.bottom-container{
	background-color: #deeeff;
	margin-top: 50px;
	padding: 50px 0 20px;
}

.pro{
	text-decoration: underline;
}

.intro{
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
	color: #40514E;
	margin: 0 auto 0 auto;
	width: 30%;
}

.skill-row{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
}

.bottom-cloud{
	width: 10%;
	position: absolute;
	left: 200px;
	bottom: 300px;
	-webkit-animation: bottomCloud 5s; 
}

@keyframes bottomCloud {
    from { left: 300px; }
    to   { left: 200px; }
}

@-webkit-keyframes bottomCloud {
    from { left: 300px; }
    to   { left: 200px; }
}

.top-cloud{
	width: 15%;
	position: absolute;
	right: 200px;
	top: 30px;
	-webkit-animation: topCloud 5s; 
}

@keyframes topCloud {
    from { right: 300px; }
    to   { right: 200px; }
}

@-webkit-keyframes topCloud {
    from { right: 300px; }
    to   { right: 200px; }
}


.skills1{
	border-radius: 100%;
	float: left;
	margin-right: 30px;
	width: 30%;


}

.skills2{
	border-radius: 100%;
	float: right;
	margin-left: 30px;
	width: 30%;
}

.projects1{
	border-radius: 100%;
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
	width: 30%;
}

.projects2{
	border-radius: 100%;
	float: right;
	margin-left: 30px;
	margin-bottom: 20px;
	width: 30%;
}

.projects-h3{
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}


.contact-me-description{
	width: 40%;
	margin: 40px auto 60px auto;
}

.footer-link{
	color: #11999E;
}

.butn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Martel Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
  text-decoration: none;
}

.copy-right{
	color: #EAF6F6;
	font-size: 0.75rem;
	padding: 20px 0;
}


