a{
	color: purple;
	font-family; "Comic Sans MS";


}

a:hover{
	color: red;
}

#header {
	font-family; "Comic Sans MS";
}

.row{
	color: purple;
	font-family; "Comic Sans MS";

}

body {
	background-color: grey;
	background-image: url("flower.jpg");
	font-family; "Comic Sans MS";
	font-style: italic;
}